#palette-name{
    text-align:center;
    font-family:'Times New Roman', Times, serif;   
}

#palette-color-1 {
    background-color: #400406;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    
}